{% extends "layout.html.twig" %}

{% block tittle %}
   error 403
{% endblock %}

{% block content %}
    <div class="m-5 p-5 text-center alert-danger">
         <h4>vous n'avez pas les droits pour accéder à cette page !</h4>
         <p>contactez l'administrateur du site au: 0892 54 53 52 <small>00090£/min</small></p>
    </div>
{% endblock %}
