% extends "layout.html.twig" %}

{% block tittle %}
   error 404
{% endblock %}

{% block content %}
    <div class="m-5 p-5 text-center alert-danger">
         <h4>l'url indiqué n'existe pas !</h4>
         <p>contactez l'administrateur du site au: 0892 54 53 52 <small>9£/min</small></p>
    </div>
{% endblock %}
